.submit {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 17px;
  }

  &__button {
    font-family: inherit;
    font-size: 12px;
    padding: 10px 15px;
    border: none;
    border-radius: $buttons-border;
    background-color: $buttons-color;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: $buttons-transition;

    &:hover {
      background-color: #5d38fd;
      box-shadow: 0 1px 3px rgba(97, 21, 236, 0.52),
        0 0.5px 2px rgba(199, 126, 17, 0.48);
    }
  }
}
