$links-radio-color: #7657ffb4;
$links-radio-hover: #7657fff1;
$buttons-color: #7756ff;
$links-transition: color 0.2s ease;
$image-transition: all 0.2s ease;
$buttons-transition: background-color 0.2s ease, box-shadow 0.2s ease;
$buttons-border: 2px;
$header-bottom-border: 2px solid #ceccce;
$violet-berder: 2px solid #7657ff65;
$slider-width: 360px;
$slider-heigth: 360px;
