$links-radio-color: #7657ffb4;
$links-radio-hover: #7657fff1;
$links-transition: color 0.2s ease;
$buttons-transition: background-color 0.2s ease, box-shadow 0.2s ease;
$header-bottom-border: 2px solid #ceccce;
