.nav {
  &__item {
    cursor: pointer;
  }

  &__logo--1 {
    width: 25px;
    margin-left: 80px;
  }

  &__logo--2 {
    width: 20px;
  }

  &__logo--3 {
    width: 25px;
    margin-right: 80px;
  }
}
